body, table td {
	font-family: Arial, sans-serif;
	font-size: 12px; /* font size for the global site */
}

body {
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #57564c;
	text-decoration: underline;
}

a:visited {
	color: #515047;
	text-decoration: underline;
}

a:hover {
	color: #67665c;
	text-decoration: underline;
}

a img {
	border-width: 0;
}

table td {
	font-size: 12px;
}

.fs-BatchError {
	color: red;
	font-weight: bolder;
}

.fs-MenuBar {
	width: 990px;
	height: 30px;
	margin: auto;
	background-color: #2d2d2d;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;		
}

.fs-MenuBar div,.fs-MenuBar a {
	color: #e2e2e2;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	text-decoration: none;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}

.fs-LicensePanel {
	cursor: pointer;	
}

.fs-LicensePanel .gwt-Image {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;
}

.fs-LoginBackground {
	background-image: url("loginbg.jpg");
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.fs-LoginCenter {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.fs-AddToApps {
	margin-top: 12px;
	cursor: pointer;	
}

.fs-Star {
}

.fs-HelpLink {
	border: 0px;
	margin-top: 2px;
	cursor: pointer;
}

.fs-AnchorPanel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
}

.fs-AnchorPanel a {
	font-family: 'Cantarell', arial, serif;
	font-size: 12px;
	font-weight: bold;
	color: #999;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
}

.fs-AnchorPanel a:hover {
	color: #666;
}

.fs-ApplicationLogo {
	margin-left: 65px;
}

.fs-FloreysoftLogo {
	margin-left: auto;
	margin-right: auto;
}

.fs-HighlightImage {
	
}

.fs-HighlightTitle,.fs-HighlightContent {
	margin-top: 10px;
	font-family: 'Cantarell', arial, serif;
	font-weight: bold;
	color: #999;
	font-size: 13px;
	letter-spacing: -0.05em;
	word-spacing: 0em;
	line-height: 1.35;
}

.fs-HighlightContent {
	color: #aaa;
	font-weight: normal;
}

.fs-hint {
	padding-left: 3px;
	color: #AAAAAA;
}

.fs-SubTabLabel {
	padding-bottom: 3px;
	padding-right: 6px;
}

.fs-ImageButton-up,.fs-ImageButton-up-hovering,.fs-ImageButton-up-disabled,.fs-ImageButton-down,.fs-ImageButton-down-hovering,.fs-ImageButton-down-disabled
	{
	line-height: 0px;
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
}

.fs-ImageButton-up,.fs-ImageButton-up-hovering,.fs-ImageButton-up-disabled
	{
	padding: 2px 5px 1px 5px;
}

.fs-ImageButton-up {
	border: 1px outset #ccc;
	cursor: pointer;
	cursor: hand;
}

.fs-ImageButton-up-hovering {
	border: 1px outset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.fs-ImageButton-up-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: .5;
	filter: alpha(opacity = 40);
	zoom: 1;
}

.fs-ImageButton-down,.fs-ImageButton-down-hovering,.fs-ImageButton-down-disabled
	{
	padding: 3px 4px 0px 6px;
}

.fs-ImageButton-down {
	border: 1px inset #666;
	cursor: pointer;
	cursor: hand;
}

.fs-ImageButton-down-hovering {
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.fs-ImageButton-down-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: 0.5;
	filter: alpha(opacity = 40);
	zoom: 1;
}

.fs-first-button {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
}

.fs-last-button {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

.fs-application-logo {
	margin-left: auto;
	margin-right: auto;
}

.fs-limit-reached {
	text-align: center;
	margin: 20px;
	font-size: 12px;
}

.fs-captcha-hint {
	font-size: 12px;
	text-align: center;
	color: #AAAAAA;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.login-dialog {
	
}

.login-message {
	color: #666666;
}

.login-box {
	border: 0px;
	background-color: transparent;
	padding: 2px;
}

.login-box-hint {
	color: #AAAAAA;
}

.login-box:focus {
	outline: none;
}

.hint-popup {
	
}

.hint-message-panel {
	border: 1px solid #cecece;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: #888 2px 2px 2px;
	-webkit-box-shadow: #888 2px 2px 2px;
}

.hint-message {
	margin: 15px;
	font-size: 12px;
}

.empty-panel {
	background-image: url("emptybg.png");
	background-repeat: repeat-x;
	overflow: hidden;
}

.glasspanel {
	background-color: #fff;
	opacity: 0.5;
	filter: alpha(opacity =           50);
	-moz-border-radius-topright: 14px;
	-webkit-border-top-right-radius: 14px;
}

.fs-clickable {
	cursor: pointer;
}

.fs-wait {
	cursor: wait;
}

.clickable {
	cursor: pointer;
	text-decoration: underline;
	color: #777777;
}

.password-box {
	margin-left: 3px;
}

.gwt-PopupPanel {
	border: 1px solid #dedede;
	background-color: #fff1a8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px;
}

.admin-panel {
	border-top: 1px solid #CCCCCC;
	padding: 10px;
	background-color: #FAFAFA;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA),
		color-stop(0.5, white), to(#F0F0F0) );
}

.nowrap {
	white-space: nowrap;
}

.hint {
	font-size: 9px;
	font-style: italic;
	text-align: center;
	color: #AAAAAA;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.menu-bar {
	border-bottom: 1px solid #ccc;
	height: 32px;
}

.menu-item {
	white-space: nowrap;
	padding-left: 3px;
	padding-right: 3px;
}

.sign-out {
	padding-right: 8px;
}

.section-header {
	font-size: 14px;
	font-weight: bold;
}

.info {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.help-text {
	font-size: 11px;
}

.help-table {
	margin: 5px;
	border-collapse: collapse;
}

.help-table tr td {
	font-size: 11px;
	border: 1px solid #999999;
}

.help-table .header {
	font-weight: bolder;
	background-color: fff1a8;
}

.info-text {
	width: 80%;
	font-size: 13px;
	color: #333333;
	padding: 8px;
	background-color: fff1a8;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.note {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #3e81d3;
	color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.message {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff1a8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.error {
	padding-left: 15px;
	padding-right: 15px;
	background-color: orange;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.message td {
	font-size: 13px;
}

.spacer {
	height: 15px;
}

.bold {
	font-weight: bolder;
	font-size: 13px;
}

.hide {
	opacity: 0;
	visibility: hidden;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
	cursor: w-resize;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
	cursor: n-resize;
}

.sync-info {
	text-align: center;
}

.fs-TaskIndicator {
	border: 0px;
	padding-right: 20px;
	padding-bottom: 5px;
	background-color: transparent;
}

.fs-TaskIndicator-label {
	font-style: italic;
	padding-right: 15px;
}

.fs-TaskIndicator-image {
	padding-top: 2px;
	padding-right: 10px;
}

.gwt-ProgressBar-shell {
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #FFFFFF;
	height: 16px;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #d4d4d4;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
	padding: 0px;
	margin: 0px;
	color: #333333;
	font-size: 10px;
}

.prepare-print {
	border: 1px solid #dedede;
	background-color: #eeeeee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px;
}

.gwt-DecoratedPopupPanel .popupContent {
	padding: 10px;
	background-color: #fdfdfd;
	background-image: url(y.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
	background-color: #fdfdfd;
	padding: 0px;
}

.gwt-DecoratedPopupPanel .popupTopCenter {
	background: url(dialogBoxBundle.png) repeat-x 0px -6px;
}

.gwt-DecoratedPopupPanel .popupBottomCenter {
	background: url(dialogBoxBundle.png) repeat-x 0px -12px;
}

.gwt-DecoratedPopupPanel .popupMiddleLeft {
	background: url(dialogBoxVertical.png) repeat-y;
}

.gwt-DecoratedPopupPanel .popupMiddleRight {
	background: url(dialogBoxVertical.png) repeat-y -6px 0px;
}

.gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 6px;
	height: 6px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 6px;
	height: 6px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 6px;
	height: 6px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 6px;
	height: 6px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopLeft {
	background: url(dialogBoxBundle.png) no-repeat -0px 0px;
}

.gwt-DecoratedPopupPanel .popupTopRight {
	background: url(dialogBoxBundle.png) no-repeat -6px 0px;
}

.gwt-DecoratedPopupPanel .popupBottomLeft {
	background: url(dialogBoxBundle.png) no-repeat -12px 0px;
}

.gwt-DecoratedPopupPanel .popupBottomRight {
	background: url(dialogBoxBundle.png) no-repeat -18px 0px;
}

* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 6px;
	height: 6px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 6px;
	height: 6px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 6px;
	height: 6px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.gwt-DecoratedPopupPanel .gwt-HTML {
	font-family: Verdana;
	font-size: 12px;
	color: #999999;
}

.gwt-Button {
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	background: url("images/hborder.png") repeat-x 0px -27px;
	border: 1px outset #ccc;
}

.gwt-Button:active {
	border: 1px inset #ccc;
}

.gwt-Button:hover {
	border-color: #9cf #69e #69e #7af;
}

.gwt-Button[disabled] {
	cursor: default;
	color: #888;
}

.gwt-Button[disabled]:hover {
	border: 1px outset #ccc;
}

.gwt-CheckBox {
	
}

.gwt-CheckBox-disabled {
	color: #888;
}

.gwt-FileUpload {
	
}

.gwt-HorizontalSplitPanel {
	
}

.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(images/vborder.png) repeat-y;
}

.gwt-VerticalSplitPanel {
	
}

.gwt-VerticalSplitPanel .vsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(images/hborder.png) repeat-x;
}

.gwt-HTML {
	
}

.gwt-Hyperlink {
	
}

.gwt-Image {
	
}

.gwt-Label {
	
}

.gwt-ListBox {
	
}

.gwt-PasswordTextBox {
	padding: 2px;
}

.gwt-PasswordTextBox-readonly {
	color: #888;
}

.gwt-PopupPanelGlass {
	background-color: #fff;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.gwt-RadioButton {
	
}

.gwt-RadioButton-disabled {
	color: #888;
}

.gwt-RichTextArea {
	
}

.hasRichTextToolbar {
	border: 0px;
}

.gwt-RichTextToolbar {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #BBBBBB;
	padding: 3px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 0px 1px 0px 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-StackPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-StackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-size: 1.3em;
	padding: 3px;
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-StackPanel .gwt-StackPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-TextArea {
	padding: 2px;
}

.gwt-TextArea-readonly {
	color: #888;
}

.gwt-TextBox {
	padding: 2px 0px 2px 0px;
	border: 1px solid #bbbbbb;
}

.gwt-TextBox-readonly {
	color: #888;
}

.gwt-ListBox {
	padding: 1px;
	border: 1px solid #bbbbbb;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled,.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-ToggleButton-up {
	border: 1px outset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-hovering {
	border: 1px outset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity = 40);
}

.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
}

.gwt-ToggleButton-down {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-hovering {
	background-position: 0 -513px;
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-disabled {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity = 40);
}

.gwt-Tree .gwt-TreeItem {
	padding: 1px 0px;
	margin: 0px;
	white-space: nowrap;
	cursor: hand;
	cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #93c2f1 url(images/hborder.png) repeat-x 0px -1463px;
}

.gwt-TreeItem .gwt-RadioButton input,.gwt-TreeItem .gwt-CheckBox input {
	margin-left: 0px;
}

* html .gwt-TreeItem .gwt-RadioButton input,* html .gwt-TreeItem .gwt-CheckBox input
	{
	margin-left: -4px;
}

.gwt-DateBox input {
	
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
	
}

.gwt-DatePicker {
	border: 1px solid #A2BBDD;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 75%;
	text-align: center;
	padding: 4px;
	outline: none;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #C3D9FF;
	padding: 0px 4px 2px;
	cursor: default;
}

.datePickerDay {
	padding: 4px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsToday {
	border: 1px solid black;
	padding: 3px;
}

.datePickerDayIsWeekend {
	background: #EEEEEE;
}

.datePickerDayIsFiller {
	color: #888888;
}

.datePickerDayIsValue {
	background: #aaccee;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #bbddd9;
}

.datePickerMonthSelector {
	background: #C3D9FF;
	width: 100%;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: center;
	white-space: nowrap;
	font-size: 70%;
	font-weight: bold;
	color: blue;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: blue;
	cursor: hand;
	cursor: pointer;
	padding: 0px 4px;
}

.gwt-StackLayoutPanel {
	border-bottom: 1px solid #bbbbbb;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-size: 1.3em;
	padding: 3px;
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

.gwt-PopupPanelGlass {
	opacity: 0.65;
}

.gwt-PushButton {
	padding: 2px 5px;
}

.gwt-PushButton .html-face {
	white-space: nowrap;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
	background-color: transparent;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
	background-color: transparent;
}